extends layout

block content
	.content
		.container
			.about
				.row
					.profile-title.col-sm-4
						h3.blue Company Profile
				.row
					.profile-content.col-sm-10.col-sm-offset-1
						p Space-Lok, Inc. specializes in the design, development and manufacture of high quality fasteners and multiple component mechanisms for all sectors of the aerospace industry.  Established in 1962, Space-Lok has, over the last four decades, earned a reputation for providing superior products and services to our many aerospace customers. Our niche in the aerospace manufacturing industry is based upon our ability to respond quickly and cost effectively to the unique production challenges posed by manufacturing sophisticated products with relatively low volume runs.  In addition, our operations fully support the production of larger quantity orders.  Space-Lok's facility houses a full range of state-of -the-art manufacturing equipment complemented by an advanced, on-site testing laboratory.  Space-Lok is ideally suited to serve the varied needs and strict Quality Control standards of the aerospace and nuclear industries.
				.row
					.profile-title.col-sm-4
						h3.blue.uppercase: em Capabilities
				.row
					.profile-content.col-sm-10.col-sm-offset-1
						p Space-Lok's manufacturing facility possesses extensive in-house capabilities such as CNC machining, hot and cold heading (forging), thread rolling, gun-drilling, grinding, EDM machining, tapping and toolmaking. Our equipment array is capable of forging and machining sophisticated metals, covering the full range of aerospace materials and strength levels; alloy steels from low-alloy types to high-strength alloys such as H-11 and AERMET® 100; corrosion resistant alloy A286; precipitation hardening stainless steels PH13-8Mo, 17-4PH and PH15-5; Titanium 6AL-4V and 6AL-6V-2Sn; high temperature alloys Alloy 718, Waspaloy, Rene 41 and Multi-Phase alloys. Given a product's intended function and requirements, our skilled technical staff works closely with our customers to develop unique, application-specific product solutions.  In addition, Space-Lok has metallurgical, mechanical and environmental facilities ideally suited to support the research and development programs of our customers.
