extends layout

block content
	.content
		.container
			#building-one
				.row
					h2.fac-title.text-center.col-sm-12.blue Building One

				//- Picture carousel of facilities
				//- Building One
				#carousel-building-one.carousel.slide.carousel-size(data-ride="carousel")
					ol.carousel-indicators
						li.active(data-target="#carousel-building-one", data-slide-to="0")
						li(data-target="#carousel-building-one", data-slide-to="1")
						li(data-target="#carousel-building-one", data-slide-to="2")
						li(data-target="#carousel-building-one", data-slide-to="3")
						li(data-target="#carousel-building-one", data-slide-to="4")
						li(data-target="#carousel-building-one", data-slide-to="5")
						li(data-target="#carousel-building-one", data-slide-to="6")
						li(data-target="#carousel-building-one", data-slide-to="7")
						li(data-target="#carousel-building-one", data-slide-to="8")
						li(data-target="#carousel-building-one", data-slide-to="9")
						li(data-target="#carousel-building-one", data-slide-to="10")
						li(data-target="#carousel-building-one", data-slide-to="11")
						li(data-target="#carousel-building-one", data-slide-to="12")
						li(data-target="#carousel-building-one", data-slide-to="13")
						li(data-target="#carousel-building-one", data-slide-to="14")
						li(data-target="#carousel-building-one", data-slide-to="15")
						li(data-target="#carousel-building-one", data-slide-to="16")
						li(data-target="#carousel-building-one", data-slide-to="17")
						li(data-target="#carousel-building-one", data-slide-to="18")
						li(data-target="#carousel-building-one", data-slide-to="19")
						li(data-target="#carousel-building-one", data-slide-to="20")
						li(data-target="#carousel-building-one", data-slide-to="21")
						li(data-target="#carousel-building-one", data-slide-to="22")
						li(data-target="#carousel-building-one", data-slide-to="23")
						li(data-target="#carousel-building-one", data-slide-to="24")
						li(data-target="#carousel-building-one", data-slide-to="25")
						li(data-target="#carousel-building-one", data-slide-to="26")
						li(data-target="#carousel-building-one", data-slide-to="27")
						li(data-target="#carousel-building-one", data-slide-to="28")
						li(data-target="#carousel-building-one", data-slide-to="29")
						li(data-target="#carousel-building-one", data-slide-to="30")
						li(data-target="#carousel-building-one", data-slide-to="31")
						li(data-target="#carousel-building-one", data-slide-to="32")
						li(data-target="#carousel-building-one", data-slide-to="33")
						li(data-target="#carousel-building-one", data-slide-to="34")
						li(data-target="#carousel-building-one", data-slide-to="35")
						li(data-target="#carousel-building-one", data-slide-to="36")
						li(data-target="#carousel-building-one", data-slide-to="37")
						li(data-target="#carousel-building-one", data-slide-to="38")
					.carousel-inner(role="listbox")
						.item.active
							img(src="images/facilities/building-one/outside.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-one/main-floor-1.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-one/main-floor-2.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-one/main-floor-3.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-one/main-floor-4.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-one/main-floor-5.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-one/main-floor-6.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-one/main-floor-7.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-one/main-floor-8.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-one/grinders-1.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-one/grinders-2.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-one/grinders-3.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-one/grinders-4.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-one/grinders-5.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-one/grinders-6.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-one/grinders-7.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-one/grinders-8.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-one/grinders-9.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-one/heading-1.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-one/heading-2.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-one/heading-3.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-one/heading-4.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-one/heading-5.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-one/heading-6.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-one/heading-7.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-one/heading-8.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-one/cnc-1.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-one/cnc-2.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-one/cnc-3.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-one/inspection-1.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-one/testing-1.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-one/testing-2.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-one/raw-materials-1.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-one/raw-materials-2.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-one/raw-materials-3.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-one/raw-materials-4.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-one/raw-materials-5.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-one/thread-rollers-1.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-one/thread-rollers-2.jpg", alt="")
							.carousel-caption
					a.left.carousel-control(href="#carousel-building-one", role="button", data-slide="prev")
						span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
						span.sr-only
					a.right.carousel-control(href="#carousel-building-one", role="button", data-slide="next")
						span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
						span.sr-only

			#building-two
				.row
					h2.fac-title.text-center.col-sm-12.blue Building Two

				//- Picture carousel of facilities
				//- Building Two
				#carousel-building-two.carousel.slide.carousel-size(data-ride="carousel")
					ol.carousel-indicators
						li.active(data-target="#carousel-building-two", data-slide-to="0")
						li(data-target="#carousel-building-two", data-slide-to="1")
						li(data-target="#carousel-building-two", data-slide-to="2")
						li(data-target="#carousel-building-two", data-slide-to="3")
						li(data-target="#carousel-building-two", data-slide-to="4")
						li(data-target="#carousel-building-two", data-slide-to="5")
						li(data-target="#carousel-building-two", data-slide-to="6")
						li(data-target="#carousel-building-two", data-slide-to="7")
						li(data-target="#carousel-building-two", data-slide-to="8")
						li(data-target="#carousel-building-two", data-slide-to="9")
						li(data-target="#carousel-building-two", data-slide-to="10")
						li(data-target="#carousel-building-two", data-slide-to="11")
						li(data-target="#carousel-building-two", data-slide-to="12")
						li(data-target="#carousel-building-two", data-slide-to="13")
						li(data-target="#carousel-building-two", data-slide-to="14")
						li(data-target="#carousel-building-two", data-slide-to="15")
						li(data-target="#carousel-building-two", data-slide-to="16")
						li(data-target="#carousel-building-two", data-slide-to="17")
						li(data-target="#carousel-building-two", data-slide-to="18")
						li(data-target="#carousel-building-two", data-slide-to="19")
						li(data-target="#carousel-building-two", data-slide-to="20")
						li(data-target="#carousel-building-two", data-slide-to="21")
						li(data-target="#carousel-building-two", data-slide-to="22")
						li(data-target="#carousel-building-two", data-slide-to="23")
						li(data-target="#carousel-building-two", data-slide-to="24")
						li(data-target="#carousel-building-two", data-slide-to="25")
						li(data-target="#carousel-building-two", data-slide-to="26")
						li(data-target="#carousel-building-two", data-slide-to="27")
						li(data-target="#carousel-building-two", data-slide-to="28")
						li(data-target="#carousel-building-two", data-slide-to="29")
						li(data-target="#carousel-building-two", data-slide-to="30")
						li(data-target="#carousel-building-two", data-slide-to="31")
						li(data-target="#carousel-building-two", data-slide-to="32")
						li(data-target="#carousel-building-two", data-slide-to="33")
						li(data-target="#carousel-building-two", data-slide-to="34")
						li(data-target="#carousel-building-two", data-slide-to="35")
						li(data-target="#carousel-building-two", data-slide-to="36")
					.carousel-inner(role="listbox")
						.item.active
							img(src="images/facilities/building-two/building-two-front.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-two/building-two-back-1.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-two/building-two-back-2.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-two/building-two-back-3.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-two/building-two-back-4.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-two/building-two-back-5.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-two/building-two-back-6.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-two/building-two-back-7.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-two/building-two-front-1.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-two/building-two-front-2.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-two/building-two-front-3.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-two/building-two-front-4.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-two/building-two-front-5.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-two/building-two-front-6.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-two/building-two-front-7.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-two/building-two-front-8.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-two/building-two-front-9.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-two/building-two-front-10.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-two/building-two-front-11.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-two/building-two-front-12.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-two/building-two-front-13.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-two/building-two-front-14.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-two/building-two-front-15.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-two/building-two-front-16.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-two/building-two-front-17.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-two/building-two-front-18.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-two/building-two-front-19.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-two/building-two-front-20.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-two/building-two-front-21.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-two/coating-1.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-two/coating-2.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-two/coating-3.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-two/coating-4.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-two/coating-5.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-two/coating-6.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-two/coating-7.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/building-two/oxidizer.jpg", alt="")
							.carousel-caption
					a.left.carousel-control(href="#carousel-building-two", role="button", data-slide="prev")
						span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
						span.sr-only
					a.right.carousel-control(href="#carousel-building-two", role="button", data-slide="next")
						span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
						span.sr-only

			#lab
				.row
					h2.fac-title.text-center.col-sm-12.blue Lab

				//- Picture carousel of facilities
				//- Lab
				#carousel-lab.carousel.slide.carousel-size(data-ride="carousel")
					ol.carousel-indicators
						li.active(data-target="#carousel-lab", data-slide-to="0")
						li(data-target="#carousel-lab", data-slide-to="1")
						li(data-target="#carousel-lab", data-slide-to="2")
						li(data-target="#carousel-lab", data-slide-to="3")
						li(data-target="#carousel-lab", data-slide-to="4")
						li(data-target="#carousel-lab", data-slide-to="5")
						li(data-target="#carousel-lab", data-slide-to="6")
						li(data-target="#carousel-lab", data-slide-to="7")
					.carousel-inner(role="listbox")
						.item.active
							img(src="images/facilities/lab/lab-1.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/lab/lab-2.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/lab/lab-3.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/lab/lab-4.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/lab/lab-5.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/lab/lab-6.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/lab/lab-7.jpg", alt="")
							.carousel-caption
						.item
							img(src="images/facilities/lab/lab-8.jpg", alt="")
							.carousel-caption
					a.left.carousel-control(href="#carousel-lab", role="button", data-slide="prev")
						span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
						span.sr-only
					a.right.carousel-control(href="#carousel-lab", role="button", data-slide="next")
						span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
						span.sr-only