extends layout

block content
	nav.navbar.navbar-custom.navbar-static-top
		.container-fluid
			.navbar-header
				a.navbar-brand(href="/")
					img.logo(src="/images/logo.png", alt="Space-Lok Inc.")
			.navbar-collapse.collapse
				ul.nav.navbar-nav.navbar-right
						li
							a(href="/") Home
						li
							a(href="/about") About
						li
							a(href="/products") Products
						li
							a(href="/facilities") Facilities
						li
							a(href="/contact") Contact