doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Space-Lok Inc.
		link(rel="stylesheet", href="/vendor/bootstrap/css/bootstrap.min.css")
		//- style(src="/vendor/bootstrap/css/bootstrap-theme.min.css")
		link(rel="stylesheet", href="/styles/lib/dev.css")
		//- style(src="/styles/main.css")


	body
		block content
		script(src="/vendor/jquery/jquery-1.11.2.js")
		script(src="/vendor/bootstrap/js/bootstrap.min.js")
		script(src="/scripts/lib/dev.js")
		//- script(src="/scripts/main.js")
		