extends layout

block content
	.container
		.product-links.row
			.col-sm-12.text-center
				p: <a href="#structural-bolts">Structural Bolts</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#self-retaining-bolts">Self-Retaining Bolts</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#special-bolts">Special Bolts</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#structural-nuts">Structural Nuts</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#barrel-nuts">Barrel Nuts</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#panel-fasteners">Panel Fasteners</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#double-ended-studs">Double Ended Studs</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#special-parts">Special Machine Parts</a>

		//- product 1

		.product
			.row
				.col-sm-12#structural-bolts
					h3.product-title.uppercase.blue Structural Bolts
			.row.product-information
				.product-container
					.col-sm-1
						img.product-image(src="http://placehold.it/150x150", alt="Product")
					.col-sm-2.col-sm-offset-1.border-right
						.size
							h5.text-center.uppercase.dark-blue Diameters
							.text-center
								p 3/16" - 4"
					.col-sm-4.border-right
						.material
							h5.text-center.uppercase.dark-blue Materials
							.row.material-types
								.container-fluid
									.col-sm-6
										ul.simple-list.text-center
											li Multi-Phase Alloys
											li Rene 41
											li Titanium Alloys
											li Inco 718
											li Waspaloy
									.col-sm-6
										ul.simple-list.text-center
											li Alloy Steels
											li CRES
											li AERMET®
											li H-11
											li A-286
					.col-sm-2.border-right
						.strength
							h5.text-center.uppercase.dark-blue Strength
							.row
								.col-sm-12.text-center
									p Up to 300 KSI ultimate tensile strength and 156 KSI shear strength
					.col-sm-2
						.type
							.row
								h5.text-center.uppercase.dark-blue.col-sm-12 Types
							.row
								.col-sm-12
									ul.text-center.simple-list
										li Spline
										li Hex
										li 12 Point
										li Other Standard &amp; Special Head Configuration
		
		//- product 2
		
		.product
			.row
				.col-sm-12#self-retaining-bolts
					h3.product-title.uppercase.blue Self-Retaining Bolts
			.row.product-information
				.product-container
					.col-sm-1
						img.product-image(src="http://placehold.it/150x150", alt="Product")
					.col-sm-2.col-sm-offset-1.border-right
						.size
							h5.text-center.uppercase.dark-blue Diameters
							.text-center
								p 3/16" - 4"
					.col-sm-4.border-right
						.material
							h5.text-center.uppercase.dark-blue Materials
							.row.material-types
								.container-fluid
									.col-sm-6
										ul.simple-list.text-center
											li Multi-Phase Alloys
											li Titanium Alloys
											li Inco 718
											li Alloy Steels
									.col-sm-6
										ul.simple-list.text-center
											li CRES
											li AERMET®
											li H-11
											li A-286
					.col-sm-2.border-right
						.strength
							h5.text-center.uppercase.dark-blue Strength
							.row
								.col-sm-12.text-center
									p Up to 260 KSI ultimate tensile strength and 156 KSI shear strength
					.col-sm-2
						.type
							.row
								h5.text-center.uppercase.dark-blue.col-sm-12 Types
							.row
								.col-sm-12
									ul.text-center.simple-list
										li Positive Locking
										li Pawl
										li Detent
		
		//- product 3
		
		.product
			.row
				.col-sm-12#special-bolts
					h3.product-title.uppercase.blue Special Bolts
			.row.product-information
				.product-container
					.col-sm-1
						img.product-image(src="http://placehold.it/150x150", alt="Product")
					.col-sm-2.col-sm-offset-1.border-right
						.size
							h5.text-center.uppercase.dark-blue Diameters
							.text-center
								p 3/16" - 1-3/4"
					.col-sm-4.border-right
						.material
							h5.text-center.uppercase.dark-blue Materials
							.row.material-types
								.container-fluid
									.col-sm-6
										ul.simple-list.text-center
											li Multi-Phase Alloys
											li Rene 41
											li Titanium Alloys
											li Inco 718
											li Waspaloy
									.col-sm-6
										ul.simple-list.text-center
											li Alloy Steels
											li CRES
											li AERMET®
											li H-11
											li A-286
					.col-sm-2.border-right
						.strength
							h5.text-center.uppercase.dark-blue Strength
							.row
								.col-sm-12.text-center
									p Up to 260 KSI ultimate tensile strength and 156 KSI shear strength
					.col-sm-2
						.type
							.row
								h5.text-center.uppercase.dark-blue.col-sm-12 Types
							.row
								.col-sm-12
									ul.text-center.simple-list
										li Fillister
										li Pan Head
										li Internal Wrenching Bolt
										li Flush Head
										li Brazier Bolts
		
		//- product 4
		
		.product
			.row
				.col-sm-12#structural-nuts
					h3.product-title.uppercase.blue Structural Nuts
			.row.product-information
				.product-container
					.col-sm-1
						img.product-image(src="http://placehold.it/150x150", alt="Product")
					.col-sm-2.col-sm-offset-1.border-right
						.size
							h5.text-center.uppercase.dark-blue Diameters
							.text-center
								p 3/16" - 4"
					.col-sm-4.border-right
						.material
							h5.text-center.uppercase.dark-blue Materials
							.row.material-types
								.container-fluid
									.col-sm-6
										ul.simple-list.text-center
											li Multi-Phase Alloys
											li Titanium Alloys
											li Inco 718
											li Alloy Steels
									.col-sm-6
										ul.simple-list.text-center
											li CRES
											li AERMET®
											li H-11
											li A-286
					.col-sm-2.border-right
						.strength
							h5.text-center.uppercase.dark-blue Strength
							.row
								.col-sm-12.text-center
									p 160 KSI TO 220 KSI ultimate tensile
					.col-sm-2
						.type
							.row
								h5.text-center.uppercase.dark-blue.col-sm-12 Types
							.row
								.col-sm-12
									ul.text-center.simple-list
										li 12 Point
										li 12 Spline
										li Castellated
										li Self-Aligning
		
		//- product 5
		
		.product
			.row
				.col-sm-12#barrel-nuts
					h3.product-title.uppercase.blue Barrel Nuts
			.row.product-information
				.product-container
					.col-sm-1
						img.product-image(src="http://placehold.it/150x150", alt="Product")
					.col-sm-2.col-sm-offset-1.border-right
						.size
							h5.text-center.uppercase.dark-blue Diameters
							.text-center
								p 3/16" - 2-1/2"
					.col-sm-4.border-right
						.material
							h5.text-center.uppercase.dark-blue Materials
							.row.material-types
								.container-fluid
									.col-sm-6
										ul.simple-list.text-center
											li Multi-Phase Alloys
											li Rene 41
											li Titanium Alloys
											li Inco 718
											li Alloy Steels
									.col-sm-6
										ul.simple-list.text-center
											li CRES
											li AERMET®
											li H-11
											li A-286
					.col-sm-2.border-right
						.strength
							h5.text-center.uppercase.dark-blue Strength
							.row
								.col-sm-12.text-center
									p 160 KSI TO 220 KSI ultimate tensile
					.col-sm-2
						.type
							.row
								h5.text-center.uppercase.dark-blue.col-sm-12 Types
							.row
								.col-sm-12
									ul.text-center.simple-list
										li Fixed
										li Floating
		
		//- product 6
		//- fix box width
		
		.product
			.row
				.col-sm-12#panel-fasteners
					h3.product-title.uppercase.blue Panel Fasteners
			.row.product-information
				.product-container
					.col-sm-1
						img.product-image(src="http://placehold.it/150x150", alt="Product")
					.col-sm-2.col-sm-offset-1.border-right
						.size
							h5.text-center.uppercase.dark-blue Diameters
							.text-center
								p 3/16" - 1"
					.col-sm-4.border-right
						.material
							h5.text-center.uppercase.dark-blue Materials
							.row.material-types
								.container-fluid
									.col-sm-12
										ul.simple-list.text-center
											li Alloy Steels
											li CRES
											li A-286

		//- product 7
		//- fix box width
		
		.product
			.row
				.col-sm-12#double-ended-studs
					h3.product-title.uppercase.blue Double Ended Studs
			.row.product-information
				.product-container
					.col-sm-1
						img.product-image(src="http://placehold.it/150x150", alt="Product")
					.col-sm-2.col-sm-offset-1.border-right
						.size
							h5.text-center.uppercase.dark-blue Diameters
							.text-center
								p 3/16" - 1"
					.col-sm-4.border-right
						.material
							h5.text-center.uppercase.dark-blue Materials
							.row.material-types
								.container-fluid
									.col-sm-6
										ul.simple-list.text-center
											li Multi-Phase Alloys
											li Alloy Steels
											li Titanium
											li AERMET®
									.col-sm-6
										ul.simple-list.text-center
											li H-11
											li CRES
											li A-286
		
		//- product 8
		//- fix box width
		
		.product
			.row
				.col-sm-6#special-parts
					h3.product-title.uppercase.blue Special Machine Parts
			.row.product-information
				.product-container
					.col-sm-1
						img.product-image(src="http://placehold.it/150x150", alt="Product")
					.col-sm-2.col-sm-offset-1.border-right
						.size
							h5.text-center.uppercase.dark-blue Diameters
							.text-center
								p 3/16" - 1"
					.col-sm-4.border-right
						.material
							h5.text-center.uppercase.dark-blue Materials
							.row.material-types
								.container-fluid
									.col-sm-12
										ul.simple-list.text-center
											li Alloy Steels
											li CRES
											li A-286
											li Aluminum Alloys
					.col-sm-2
						.type
							.row
								h5.text-center.uppercase.dark-blue.col-sm-12 Types
							.row
								.col-sm-12
									ul.text-center.simple-list
										li Per Customer Design
		



