extends layout

block content
	.content
		.container
			.product-links.row
				.col-sm-12.text-center
					p: <a href="#structural-bolts">Structural Bolts</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#self-retaining-bolts">Self-Retaining Bolts</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#special-bolts">Special Bolts</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#structural-nuts">Structural Nuts</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#barrel-nuts">Barrel Nuts</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#panel-fasteners">Panel Fasteners</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#double-ended-studs">Double Ended Studs</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#special-parts">Special Machine Parts</a>

			//- product 1

			.product#structural-bolts
				.row
					.col-sm-12
						h3.product-title.uppercase.blue Structural Bolts
				.row.product-information
					.product-container
						.col-sm-1
							//- IMAGE CAROUSEL
							//- #structural-bolts-carousel.carousel.slide(data-ride='carousel').product-carousel
							//- 	ol.carousel-indicators
							//- 		li.active(data-target='#structural-bolts-carousel', data-slide-to='0')
							//- 		li(data-target='#structural-bolts-carousel', data-slide-to='1')
							//- 	// Wrapper for slides
							//- 	.carousel-inner(role='listbox')
							//- 		.item.active
							//- 			img(src='http://placehold.it/150x150', alt='...')
							//- 			.carousel-caption
							//- 		.item
							//- 			img(src='http://placehold.it/150x150', alt='...')
							//- 			.carousel-caption
							//- 	// Controls
							//- 	a.left.carousel-control(href='#structural-bolts-carousel', role='button', data-slide='prev')
							//- 		span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
							//- 		span.sr-only Previous
							//- 	a.right.carousel-control(href='#structural-bolts-carousel', role='button', data-slide='next')
							//- 		span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
							//- 		span.sr-only Next
							img.product-image(src="images/old/structural_bolts1.jpg", alt="Product")
						.col-sm-2.col-sm-offset-1.border-right
							.size
								h5.text-center.uppercase.dark-blue Diameters
								.text-center
									p 3/16" - 4"
						.col-sm-4.border-right
							.material
								h5.text-center.uppercase.dark-blue Materials
								.row.material-types
									.container-fluid
										.col-sm-6
											ul.simple-list.text-center
												li Multi-Phase Alloys
												li Rene 41
												li Titanium Alloys
												li Inconel 718
												li Waspaloy
										.col-sm-6
											ul.simple-list.text-center
												li Alloy Steels
												li CRES (15-5 / 17-4)
												li AERMET®
												li H-11
												li A-286
						.col-sm-2.border-right
							.strength
								h5.text-center.uppercase.dark-blue Strength
								.row
									.col-sm-12.text-center
										p Up to 300 KSI ultimate tensile strength and 156 KSI shear strength
						.col-sm-2
							.type
								.row
									h5.text-center.uppercase.dark-blue.col-sm-12 Types
								.row
									.col-sm-12
										ul.text-center.simple-list
											li Spline
											li Hex
											li 12 Point
											li Other Standard &amp; Special Head Configuration
			
			//- product 2
			
			.product#self-retaining-bolts
				.row
					.col-sm-12
						h3.product-title.uppercase.blue Self-Retaining Bolts
				.row.product-information
					.product-container
						.col-sm-1
							//- IMAGE CAROUSEL
							//- #self-retaining-bolts-carousel.carousel.slide(data-ride='carousel').product-carousel
							//- 	ol.carousel-indicators
							//- 		li.active(data-target='#self-retaining-bolts-carousel', data-slide-to='0')
							//- 		li(data-target='#self-retaining-bolts-carousel', data-slide-to='1')
							//- 	// Wrapper for slides
							//- 	.carousel-inner(role='listbox')
							//- 		.item.active
							//- 			img(src='http://placehold.it/150x150', alt='...')
							//- 			.carousel-caption
							//- 		.item
							//- 			img(src='http://placehold.it/150x150', alt='...')
							//- 			.carousel-caption
							//- 	// Controls
							//- 	a.left.carousel-control(href='#self-retaining-bolts-carousel', role='button', data-slide='prev')
							//- 		span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
							//- 		span.sr-only Previous
							//- 	a.right.carousel-control(href='#self-retaining-bolts-carousel', role='button', data-slide='next')
							//- 		span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
							//- 		span.sr-only Next

							img.product-image(src="images/old/self_retaining_bolts.jpg", alt="Product")
						.col-sm-2.col-sm-offset-1.border-right
							.size
								h5.text-center.uppercase.dark-blue Diameters
								.text-center
									p 3/16" - 4"
						.col-sm-4.border-right
							.material
								h5.text-center.uppercase.dark-blue Materials
								.row.material-types
									.container-fluid
										.col-sm-6
											ul.simple-list.text-center
												li Multi-Phase Alloys
												li Titanium Alloys
												li Inconel 718
												li Alloy Steels
										.col-sm-6
											ul.simple-list.text-center
												li CRES (15-5 / 17-4)
												li AERMET®
												li H-11
												li A-286
						.col-sm-2.border-right
							.strength
								h5.text-center.uppercase.dark-blue Strength
								.row
									.col-sm-12.text-center
										p Up to 260 KSI ultimate tensile strength and 156 KSI shear strength
						.col-sm-2
							.type
								.row
									h5.text-center.uppercase.dark-blue.col-sm-12 Types
								.row
									.col-sm-12
										ul.text-center.simple-list
											li Positive Locking
											li Pawl
											li Detent
			
			//- product 3
			
			.product#special-bolts
				.row
					.col-sm-12
						h3.product-title.uppercase.blue Special Bolts
				.row.product-information
					.product-container
						.col-sm-1
							//- IMAGE CAROUSEL
							//- #special-bolts-carousel.carousel.slide(data-ride='carousel').product-carousel
							//- 	ol.carousel-indicators
							//- 		li.active(data-target='#special-bolts-carousel', data-slide-to='0')
							//- 		li(data-target='#special-bolts-carousel', data-slide-to='1')
							//- 	// Wrapper for slides
							//- 	.carousel-inner(role='listbox')
							//- 		.item.active
							//- 			img(src='http://placehold.it/150x150', alt='...')
							//- 			.carousel-caption
							//- 		.item
							//- 			img(src='http://placehold.it/150x150', alt='...')
							//- 			.carousel-caption
							//- 	// Controls
							//- 	a.left.carousel-control(href='#special-bolts-carousel', role='button', data-slide='prev')
							//- 		span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
							//- 		span.sr-only Previous
							//- 	a.right.carousel-control(href='#special-bolts-carousel', role='button', data-slide='next')
							//- 		span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
							//- 		span.sr-only Next

							img.product-image(src="images/old/special_bolts.jpg", alt="Product")
						.col-sm-2.col-sm-offset-1.border-right
							.size
								h5.text-center.uppercase.dark-blue Diameters
								.text-center
									p 3/16" - 1-3/4"
						.col-sm-4.border-right
							.material
								h5.text-center.uppercase.dark-blue Materials
								.row.material-types
									.container-fluid
										.col-sm-6
											ul.simple-list.text-center
												li Multi-Phase Alloys
												li Rene 41
												li Titanium Alloys
												li Inconel 718
												li Waspaloy
										.col-sm-6
											ul.simple-list.text-center
												li Alloy Steels
												li CRES (15-5 / 17-4)
												li AERMET®
												li H-11
												li A-286
						.col-sm-2.border-right
							.strength
								h5.text-center.uppercase.dark-blue Strength
								.row
									.col-sm-12.text-center
										p Up to 260 KSI ultimate tensile strength and 156 KSI shear strength
						.col-sm-2
							.type
								.row
									h5.text-center.uppercase.dark-blue.col-sm-12 Types
								.row
									.col-sm-12
										ul.text-center.simple-list
											li Fillister
											li Pan Head
											li Internal Wrenching Bolt
											li Flush Head
											li Brazier Bolts
			
			//- product 4
			
			.product#structural-nuts
				.row
					.col-sm-12
						h3.product-title.uppercase.blue Structural Nuts
				.row.product-information
					.product-container
						.col-sm-1
							//- IMAGE CAROUSEL
							//- #structural-nuts-carousel.carousel.slide(data-ride='carousel').product-carousel
							//- 	ol.carousel-indicators
							//- 		li.active(data-target='#structural-nuts-carousel', data-slide-to='0')
							//- 		li(data-target='#structural-nuts-carousel', data-slide-to='1')
							//- 	// Wrapper for slides
							//- 	.carousel-inner(role='listbox')
							//- 		.item.active
							//- 			img(src='http://placehold.it/150x150', alt='...')
							//- 			.carousel-caption
							//- 		.item
							//- 			img(src='http://placehold.it/150x150', alt='...')
							//- 			.carousel-caption
							//- 	// Controls
							//- 	a.left.carousel-control(href='#structural-nuts-carousel', role='button', data-slide='prev')
							//- 		span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
							//- 		span.sr-only Previous
							//- 	a.right.carousel-control(href='#structural-nuts-carousel', role='button', data-slide='next')
							//- 		span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
							//- 		span.sr-only Next

							img.product-image(src="images/old/structural_nuts.jpg", alt="Product")
						.col-sm-2.col-sm-offset-1.border-right
							.size
								h5.text-center.uppercase.dark-blue Diameters
								.text-center
									p 3/16" - 4"
						.col-sm-4.border-right
							.material
								h5.text-center.uppercase.dark-blue Materials
								.row.material-types
									.container-fluid
										.col-sm-6
											ul.simple-list.text-center
												li Multi-Phase Alloys
												li Titanium Alloys
												li Inconel 718
												li Alloy Steels
										.col-sm-6
											ul.simple-list.text-center
												li CRES (15-5 / 17-4)
												li AERMET®
												li H-11
												li A-286
						.col-sm-2.border-right
							.strength
								h5.text-center.uppercase.dark-blue Strength
								.row
									.col-sm-12.text-center
										p 160 KSI TO 220 KSI ultimate tensile
						.col-sm-2
							.type
								.row
									h5.text-center.uppercase.dark-blue.col-sm-12 Types
								.row
									.col-sm-12
										ul.text-center.simple-list
											li 12 Point
											li 12 Spline
											li Castellated
											li Self-Aligning
			
			//- product 5
			
			.product#barrel-nuts
				.row
					.col-sm-12
						h3.product-title.uppercase.blue Barrel Nuts
				.row.product-information
					.product-container
						.col-sm-1
							//- IMAGE CAROUSEL
							//- #barrel-nuts-carousel.carousel.slide(data-ride='carousel').product-carousel
							//- 	ol.carousel-indicators
							//- 		li.active(data-target='#barrel-nuts-carousel', data-slide-to='0')
							//- 		li(data-target='#barrel-nuts-carousel', data-slide-to='1')
							//- 	// Wrapper for slides
							//- 	.carousel-inner(role='listbox')
							//- 		.item.active
							//- 			img(src='http://placehold.it/150x150', alt='...')
							//- 			.carousel-caption
							//- 		.item
							//- 			img(src='http://placehold.it/150x150', alt='...')
							//- 			.carousel-caption
							//- 	// Controls
							//- 	a.left.carousel-control(href='#barrel-nuts-carousel', role='button', data-slide='prev')
							//- 		span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
							//- 		span.sr-only Previous
							//- 	a.right.carousel-control(href='#barrel-nuts-carousel', role='button', data-slide='next')
							//- 		span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
							//- 		span.sr-only Next

							img.product-image(src="images/old/barrel_nuts.jpg", alt="Product")
						.col-sm-2.col-sm-offset-1.border-right
							.size
								h5.text-center.uppercase.dark-blue Diameters
								.text-center
									p 3/16" - 2-1/2"
						.col-sm-4.border-right
							.material
								h5.text-center.uppercase.dark-blue Materials
								.row.material-types
									.container-fluid
										.col-sm-6
											ul.simple-list.text-center
												li Multi-Phase Alloys
												li Rene 41
												li Titanium Alloys
												li Inconel 718
												li Alloy Steels
										.col-sm-6
											ul.simple-list.text-center
												li CRES (15-5 / 17-4)
												li AERMET®
												li H-11
												li A-286
						.col-sm-2.border-right
							.strength
								h5.text-center.uppercase.dark-blue Strength
								.row
									.col-sm-12.text-center
										p 160 KSI TO 220 KSI ultimate tensile
						.col-sm-2
							.type
								.row
									h5.text-center.uppercase.dark-blue.col-sm-12 Types
								.row
									.col-sm-12
										ul.text-center.simple-list
											li Fixed
											li Floating
			
			//- product 6
			//- fix box width
			
			.product#panel-fasteners
				.row
					.col-sm-12
						h3.product-title.uppercase.blue Panel Fasteners
				.row.product-information
					.product-container
						.col-sm-1
							//- IMAGE CAROUSEL
							//- #panel-fasteners-carousel.carousel.slide(data-ride='carousel').product-carousel
							//- 	ol.carousel-indicators
							//- 		li.active(data-target='#panel-fasteners-carousel', data-slide-to='0')
							//- 		li(data-target='#panel-fasteners-carousel', data-slide-to='1')
							//- 	// Wrapper for slides
							//- 	.carousel-inner(role='listbox')
							//- 		.item.active
							//- 			img(src='http://placehold.it/150x150', alt='...')
							//- 			.carousel-caption
							//- 		.item
							//- 			img(src='http://placehold.it/150x150', alt='...')
							//- 			.carousel-caption
							//- 	// Controls
							//- 	a.left.carousel-control(href='#panel-fasteners-carousel', role='button', data-slide='prev')
							//- 		span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
							//- 		span.sr-only Previous
							//- 	a.right.carousel-control(href='#panel-fasteners-carousel', role='button', data-slide='next')
							//- 		span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
							//- 		span.sr-only Next

							img.product-image(src="images/old/panel_fasteners.jpg", alt="Product")
						.col-sm-2.col-sm-offset-1.border-right
							.size
								h5.text-center.uppercase.dark-blue Diameters
								.text-center
									p 3/16" - 3/8"
						.col-sm-4.border-right
							.material
								h5.text-center.uppercase.dark-blue Materials
								.row.material-types
									.container-fluid
										.col-sm-12
											ul.simple-list.text-center
												li Alloy Steels
												li CRES
												li A-286

			//- product 7
			//- fix box width
			
			.product#double-ended-studs
				.row
					.col-sm-12
						h3.product-title.uppercase.blue Double Ended Studs
				.row.product-information
					.product-container
						.col-sm-1
							//- IMAGE CAROUSEL
							//- #double-ended-studs-carousel.carousel.slide(data-ride='carousel').product-carousel
							//- 	ol.carousel-indicators
							//- 		li.active(data-target='#double-ended-studs-carousel', data-slide-to='0')
							//- 		li(data-target='#double-ended-studs-carousel', data-slide-to='1')
							//- 	// Wrapper for slides
							//- 	.carousel-inner(role='listbox')
							//- 		.item.active
							//- 			img(src='http://placehold.it/150x150', alt='...')
							//- 			.carousel-caption
							//- 		.item
							//- 			img(src='http://placehold.it/150x150', alt='...')
							//- 			.carousel-caption
							//- 	// Controls
							//- 	a.left.carousel-control(href='#double-ended-studs-carousel', role='button', data-slide='prev')
							//- 		span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
							//- 		span.sr-only Previous
							//- 	a.right.carousel-control(href='#double-ended-studs-carousel', role='button', data-slide='next')
							//- 		span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
							//- 		span.sr-only Next

							img.product-image(src="images/old/double_ended_studs.jpg", alt="Product")
						.col-sm-2.col-sm-offset-1.border-right
							.size
								h5.text-center.uppercase.dark-blue Diameters
								.text-center
									p 3/16" - 1"
						.col-sm-4.border-right
							.material
								h5.text-center.uppercase.dark-blue Materials
								.row.material-types
									.container-fluid
										.col-sm-6
											ul.simple-list.text-center
												li Multi-Phase Alloys
												li Alloy Steels
												li Titanium
												li AERMET®
										.col-sm-6
											ul.simple-list.text-center
												li H-11
												li CRES
												li A-286
												li Inconel 718
			
			//- product 8
			//- fix box width
			
			.product#special-parts
				.row
					.col-sm-6
						h3.product-title.uppercase.blue Special Machine Parts
				.row.product-information
					.product-container
						.col-sm-1
							//- IMAGE CAROUSEL
							//- #special-parts-carousel.carousel.slide(data-ride='carousel').product-carousel
							//- 	ol.carousel-indicators
							//- 		li.active(data-target='#special-parts-carousel', data-slide-to='0')
							//- 		li(data-target='#special-parts-carousel', data-slide-to='1')
							//- 	// Wrapper for slides
							//- 	.carousel-inner(role='listbox')
							//- 		.item.active
							//- 			img(src='http://placehold.it/150x150', alt='...')
							//- 			.carousel-caption
							//- 		.item
							//- 			img(src='http://placehold.it/150x150', alt='...')
							//- 			.carousel-caption
							//- 	// Controls
							//- 	a.left.carousel-control(href='#special-parts-carousel', role='button', data-slide='prev')
							//- 		span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
							//- 		span.sr-only Previous
							//- 	a.right.carousel-control(href='#special-parts-carousel', role='button', data-slide='next')
							//- 		span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
							//- 		span.sr-only Next

							img.product-image(src="images/old/special_machine_parts.jpg", alt="Product")
						.col-sm-2.col-sm-offset-1.border-right
							.size
								h5.text-center.uppercase.dark-blue Diameters
								.text-center
									p 3/16" - 4"
						.col-sm-4.border-right
							.material
								h5.text-center.uppercase.dark-blue Materials
								.row.material-types
									.container-fluid
										.col-sm-12
											ul.simple-list.text-center
												li Alloy Steels
												li CRES
												li A-286
												li Aluminum Alloys
						.col-sm-2
							.type
								.row
									h5.text-center.uppercase.dark-blue.col-sm-12 Types
								.row
									.col-sm-12
										ul.text-center.simple-list
											li Per Customer Design
			



